<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

<!-- taken from http://stackoverflow.com/questions/26875902/allow-users-to-select-role-from-registration-form-with-devise-and-rolify but modified-->
<div class="field">
  <%= f.label :role %>
  <div class="controls">
    <% Role.all.each do |role| %>
        <%= radio_button_tag "role_name", role.name, checked: @user.role_ids.include?(role.id) %>
        <%= role.name %><br />
    <% end %>
  </div>
</div>

<!--- -->

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
