<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @user.firstname+" "+@user.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Role(s):</strong>
  <% @user.roles.each do |role| %>
  	<%= role.name %>
  <% end %>
</p>

<%= link_to 'Back', users_path %>
