<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<h2>Foods in <%= @category.name %></h2>

<% unless @category.foods.empty? %>

<table> 
    <% @category.foods.each do |food| %>
      <% cache ['entry', food] do %>
      <div class="entry">
        <%= image_tag(food.image_url) %>
        <h3><%= food.title %></h3>
        <p><%= sanitize(food.description) %></p>
        <div class="price_line">
          <span class="price"><%= number_to_currency(food.price) %></span>
          <%= button_to 'Add to Order', line_items_path(food_id: food), remote: true %>
        </div>
      </div>
      
    <% end %>
    <% end %>
</table>
<% else %>
<h2>No foods to show</h2>
<% end %>
<br/>
<% if can? :manage, @category %>
<%= link_to 'Edit', edit_category_path(@category) %> |
<% end %>
<%= link_to 'Back', categories_path %>
